<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="assets/logoTiendaK.webp" alt="Logo Tienda K" style="height: 80px;">
  </a>
  <!-- Botón del menú de hamburguesa -->
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" aria-controls="navbarNavAltMarkup" aria-expanded="!isCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Contenido del menú -->
  <div [ngbCollapse]="isCollapsed" class="navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" routerLink="/about-us">Sobre Nosotros</a>
      <a class="nav-item nav-link" routerLink="/cart">Carrito <i class="fa fa-shopping-cart"></i></a>
      <a class="nav-item nav-link" *ngIf="!user" routerLink="/login">Login</a>
      <a class="nav-item nav-link" *ngIf="user" (click)="logout()">Logout</a>
      <a class="nav-item nav-link" *ngIf="user?.is_admin" routerLink="/create-product">Crear Producto</a>
      <span *ngIf="user" class="navbar-text ml-2">Hola, {{ user.name }}</span>
    </div>
  </div>
</nav>
