<div class="product-list-container">
  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let product of products">
      <div class="card product-card">
        <div class="image-container">
          <!-- Enlace en la Imagen hacia el Detalle del Producto -->
          <a [routerLink]="['/product-detail', product.id]">
            <img [src]="product.image" class="card-img-top" alt="{{ product.name }}">
          </a>
          <!-- Botón de Añadir al Carrito -->
          <button class="btn btn-primary add-to-cart-btn" (click)="addToCart(product.id, 1, 'M')">Añadir al Carrito</button>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
